@mixin center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.tetris__wrap {
    @include center;
    width: 500px;
    height: 700px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.tetris__play {
    .view {
        > ul {
            border: 2px solid #000;
            margin: 50px auto;
            width: 300px;
            
            >li {
                width: 100%;
                height: 25px;

                >ul{
                    display: flex;

                    >li{
                        width: 25px;
                        height: 25px;
                        outline: 0.25px solid #fff;
                    }
                }                   
            }
        }
    }
    .Tmino {
                /* border: 6px outset #A042A2 !important; */
                background-color: #952D98;
            }
            .Imino {
                /* border: 6px outset #1AA9DE !important; */
                background-color: #009FDA;
            }
            .Omino {
                /* border: 6px outset #FED01A !important; */
                background-color: #FECB00;
            }
            .Zmino {
                /* border: 6px outset #EF3E4D !important; */
                background-color: #ED2939;
            }
            .Smino {
                /* border: 6px outset #78C53E !important; */
                background-color: #69BE28;
            }
            .Jmino {
                /* border: 6px outset #1A74C4 !important; */
                background-color: #0065BD;
            }
            .Lmino {
                /* border: 6px outset #FF861A !important; */
                background-color: #FF7900;
            }
}